/* .navbar {
    position: fixed;
    top: 0
} */

ul {
list-style-type: none;
margin: 0;
padding: 0;
height: 100%;
width: 100px;
overflow: hidden;
/* background-color: #333; */
background-color: #f1f1f1;
}

/* li {
float: left;
} */

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
background-color: rgb(107, 103, 103);
}

.active {
background-color: rgb(146, 142, 142);
}